git+https://github.com/KurimuzonAkuma/pyrogram.git@dev#egg=pyrogram
tgcrypto
pyromod
schedule
apscheduler

# --- For Database --- #
pymongo
motor
dnspython

# --- For Web Response --- #
aiohttp
python-dotenv
pytz
requests
bs4
shortzy
aiofiles
